@{
    ViewData["Title"] = "Employees";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Your Employees</p>
<ul>
    <li><a href="/employee/employee">Employee Number 1</a></li>
    <li><a href="/employee/employee">Employee Number 2</a></li>
    <li><a href="/employee/employee">Employee Number 3</a></li>
    <li><a href="/employee/employee">Employee Number 4</a></li>
</ul>


