@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Login To Manage Your Employees</p>
<input placeholder="username" />
<input placeholder="password" />
<button>Login</button>